#Общие переменные
POSTGRES_CONTAINER_NAME=parallel_db

#Переменные для python
BOT_TOKEN=  #необходимо указать токен для бота

#Переменные для Postgres
POSTGRES_DB=parallel_bot
POSTGRES_USER=    #необходимо указать пользователя базы данных
POSTGRES_PASSWORD=    #необходимо указать пароль к базе данных
PGDATA=/var/lib/postgresql/data/pgdata